button#SearchButton {
    background-image: url('./search_icon.png');
    width: 46px;
    height: 49px;
    background-color: black;
    background-size: cover;
    border: 3px solid rgb(125, 125, 125);
    border-left-width: 0px;
}

button#SearchButton:hover {
    background-color: rgb(50, 50, 50);
}

#SearchResults {
    width: 50%;
    margin: auto;
    background-color: black;
    border: 3px solid rgb(125, 125, 125);
}

#Table {
    width: 100%;
    border-spacing: 0px;
}

td.text, th.text {
    color:rgb(125, 125, 125);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

th.text {
    font-size: 30px;
    font-style: italic;
}

div#text {
    margin: 10px;
    text-align: center;
    color:rgb(125, 125, 125);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
}

#SongText {
    font-size: 18px;
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(125, 125, 125);
}

#BpmText {
    font-size: 18px;
    text-align: right;
    padding-right: 15px;
    border-bottom: 2px solid rgb(125, 125, 125);
}

#SongTextTop {
    font-size: 24px;
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(125, 125, 125);
}

#BpmTextTop {
    font-size: 24px;
    text-align: right;
    padding-right: 15px;
    border-bottom: 2px solid rgb(125, 125, 125);
}

#WarningText {
    text-align: center;
    font-size: 16px;
    padding: 5px;
    padding-bottom: 0px;
    padding-top: 10px;
}

th {
    margin-bottom: 20px;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#SongTextBottom {
    font-size: 18px;
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#BpmTextBottom {
    font-size: 18px;
    text-align: right;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
}





