input.text {
    color: white;
}

button.text {
    color: rgb(125, 125, 125);
}

h1 {
    font-style: italic;
}

#AboutText {
    text-align: center;
    padding-bottom: 40px;
}

a {
    color: rgb(200, 200, 200);
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
}

a:hover {
    color: white;
    font-style: italic;
}